<html>
<body>
    <h1>Reddit Flair Detector</h1>
    <h3>(Made with Python, using Flask for backend and HTML at the frontend)</h3>
    <p>
        Made as a part of a project of Reddit Flair Detection given by MIDAS-IIITD for their Summer Internship Program 2020





    </p>
    <p>This purpose of this webpage is to take the link of 
        a post from the India subreddit <a href="https://www.reddit.com/r/india/">'r/India'</a> and predict the flair of that post
    </p>

    <p> Let's see if I can predict the flair of your post:</p>
<div>
  <form action="/predict" method="POST">
    <label for="link">Link to the post</label>
    <input type="text" id="link" name="link">
  </form>
</div>
</body>
<p>
Creator:
</p>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="azfar-lari"><a class="LI-simple-link" href='https://in.linkedin.com/in/azfar-lari?trk=profile-badge'>Azfar Lari</a></div>
</html>